body {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}


h3 {
    font-size: 45px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
    font-weight: 5000px;
}

h6 {
    font-size: 30px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--normal-font-color);
}


/* .carousel-caption {
    bottom: 40%;
    text-align: left;
    left: 20%;
} */

.banner-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-container{
    position: relative;
}

.banner-content{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

 
.carousel-caption {
    bottom: 40%;
    text-align: left;
    left: 20%;
    width: auto;
}

 
@media (max-width: 768px) {
    .carousel-caption {
        bottom: 40%;
        text-align: center;
        left: 10%;
        width: 80%;
    }
}

 
@media (max-width: 480px) {
    .carousel-caption {
        bottom: 40%;
        text-align: center;
        left: 5%;
        width: 90%;
        font-size: 14px;
    }
}

 
@media (min-width: 1200px) {
    .carousel-caption {
        bottom: 40%;
        text-align: left;
        left: 25%;
        width: auto;
        font-size: 1.2rem;  
    }
}



.button1 {
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #215273;
    border-radius: 12px;

}

.image-container {
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    /* Ensure image container takes up full width of the column */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #215273;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-sizing: border-box;
    height: 17%;
}

.overlay-jour {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-sizing: border-box;
    height: 80%;
    /* Reduced height */
}

.img-fluid {
    width: 100%;
    height: auto;
}


/* Navbar */
header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 30px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: white;
    font-size: 1.2em;
    background-color: #215273;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    background-color: #215273;
    color: #fff;
}

.register-btn {
    background-color: #215273;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.register-btn:hover {
    background-color: #003d82;
}


footer {
    background-color: #215273;
    color: #fff;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ol {
    list-style: none;
    padding-left: 0;
}

.footer-section ol li {
    margin-bottom: 5px;
}

.footer-social-icons {
    margin-top: 10px;
}

.footer-social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #215273;
    font-size: 1.2em;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-social-icons a:hover {
    background-color: #0f4062;
    color: #fff;
}

.footer-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 15px 0;
}

.footer-section ol li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
}

.footer-section ol li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-contact .contact-description span:first-child {
    font-weight: bold;
}


.contact-item {
    display: flex;
    align-items: center;
    width: 23%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.contact-description {
    display: flex;
    flex-direction: column;
}

.contact-description span {
    margin: 5px 0;
}


.gray {
    background-color: rgba(169, 169, 169, 0.5);
}

.color1 {
    background-color: #55C595;
}

.color2 {
    background-color: #359D9E;
}

.black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        width: 80%;
        margin: 10px 0;
    }
}
.card{
    border:none;

}


 
 

.features {
    background: #f9f9f9;
    padding: 50px 0;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    gap: 0px;  
}

.feature-item {
    text-align: center;
    flex: 1;
}

.feature-item img {
 
    height: 250px;   
    
}
 

.content-section {
    padding: 50px 0;
}

.section-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #003d82;
}

.content-grid {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.content-image img {
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
}
 
.content-text {
    flex: 1;
    text-align: left;
}


.content-text h1 {
    font-size: 16px;
    font-weight: 300; 
    color: #003d82;
    margin-bottom: 10px;
}


.content-text h2 {
    font-size: 35px;
    color: #003d82;
    margin-bottom: 20px;
}


.content-text p {
    font-size: 12px;
    color: #003d82;
    margin-bottom: 20px;
    margin-bottom: 10px;
   
}


.content-text .highlight-text {
    font-size: 18px;
    color: #003d82;
    line-height: 1.8;
    margin-bottom: 10px;
}


.content-text hr {
    border: 0;
    border-top: 1px solid #003d82;
    margin: 15px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-grid {
        flex-direction: column;
        text-align: center;
    }

    .content-image img {
        margin-bottom: 20px;
    }

    .content-text {
        text-align: center;
    }
}
 

.custom-ul {
    list-style-type: circle;  
    color: #003d82; 
    font-size: 12px;  
    margin-bottom: 10px;  
}

.custom-ul li {
    color: #003d82;  
}

.custom-ul li::marker {
    color: #003d82;  
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 10px;  
}

.image-item img {
    display: block; 
    margin-bottom: 50px;
}
 
.image-section {
    background-color: #EFEFEF;
    padding: 40px 0;
}

 
.section-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #003d82;  
}

 
.image-section .col-md-4 {
    text-align: center;
}

 
.image-section img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

 
.image-heading {
    font-size: 12px;
    font-weight: bold;
    color: #003d82;  
}

 
.image-description {
    font-size: 12px;
    font-weight: normal;
    color: #003d82;  
}

ul {
    list-style: none;
    color: #0f4062;
}

ul li::before {
    content: ".";
    color: #0f4062;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: 15px;
}

.testimonial-card{

    border: 3px solid black;
    padding: 30px;
    color:#0f4062 ;
    border-radius: 0 20px 20px 20px;
    

}

.testimonial-card p{
    font-size: 12px;
}

.recruit-card{
    background-color: #F4F4F4;
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    color:#0f4062 ;
    

}

.recruit-card-sub{
    background-color: #F4F4F4;
    border: 1px solid black;
    /* border-radius: 20px 20px 20px 20px; */

}
